.container {
  //box-shadow: 10px 10px 15px 0px rgba(255, 255, 255, 0.2);
  padding: 0px !important;
}

.small-status {
  font-size: 12px;
  position: absolute;
}

.small-status-online{
  color: #0ec8a2;
  font-weight: 900;
}

.small-status-offline{
  color: #8b9299;
  font-weight: 400;
}

.small-status-online-bg{
  background-color: #0ec8a307 !important;
}

.text-vue{
  //color: #0ec8a2;
  color: #6bcfbb;
}

.text-firebase{
  //color: #e7a936;
  color: #e4bb6f;
}

.about{
  cursor: pointer;
}

.blurred{
  filter: blur(30px);
}

.loading-icon{
  z-index: 100;
  //margin-left: 25%;
  //margin-top: 10%;
  color: #0ec8a3b4;
}

.bg-received{
  background-color: #2daae917 !important;
}

 //Whole chat border radius ---
 $radius-amount: 10;

 .panel,
 .container{
   border-radius: $radius-amount+px !important;
 }
 
 .contacts-list,
 .contacts-outter-wrapper{
   border-radius: $radius-amount+px 0 0 $radius-amount+px !important;
 }
 
 .message-chat{
   border-radius: 0 $radius-amount+px $radius-amount+px 0 !important;
 }
 // ---

.contacts li > .info-combo > h3.name {
  font-size: 14px;
}

.contacts li .message-time {
  text-align: right;
  display: block;
  margin-left: -15px;
  width: 70px;
  height: 25px;
  line-height: 28px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 5px;
}
.contacts li > .info-combo > h5 {
  width: 180px;
  font-size: 12px;
  height: 28px;
  font-weight: 500;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.contacts li > .info-combo > h3 {
  width: 167px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-combo > h3 {
  margin: 3px 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.info-combo > h5 {
  margin: 2px 0 6px 0;
}
/* Messages */
.messages-panel img.img-circle {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.medium-image {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

.img-circle {
  border-radius: 50%;
}
.messages-panel {
  width: 100%;
  height: 78vh;
  min-height: 460px;
  background-color: #fbfcff;
  display: inline-block;
  border-top-left-radius: 5px;
  margin-bottom: 0;
}

.messages-panel img.img-circle {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.messages-panel .tab-content {
  border: none;
  background-color: transparent;
}

.contacts-list {
  border-right: 0.3px solid rgb(63, 63, 63);
  background-color: #fff;
  width: 305px;
  height: 100%;
  border-top-left-radius: 5px;
  float: left;
}

.contacts-list .panel-search > input {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.contacts-outter-wrapper {
  border-right: 0.3px solid rgb(63, 63, 63);
  position: relative;
  width: 305px;
  direction: rtl;
  min-height: 405px;
  overflow: hidden;
}

.contacts-outter {
  position: relative;
  height: calc(100vh - 278px);
  width: 325px;
  direction: rtl;
  overflow-y: scroll;
  padding-left: 20px;
}

.contacts {
  direction: ltr;
  width: 305px;
  margin-top: 0px;
}

.contacts li {
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgba(205, 211, 237, 0.2);
  border-left: 4px solid rgba(255, 255, 255, 0);
  padding: 8px 12px;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
}

.contacts li:first-child {
  border-top: 1px solid rgba(205, 211, 237, 0.2);
}

.contacts li:hover {
  background-color: rgba(255, 255, 255, 0.109);
}

.contacts li .contacts-add { // Online dot/circle
  width: 35px;
  float: right;
  z-index: 23299;
  margin-top: 15px;
  font-size: 10px;
  opacity: 100%;
}

.message-body {
  height: 100%;
  width: calc(100% - 305px);
  float: right;
}

.message-chat {
  width: 100%;
  overflow: hidden;
}

.chat-body {
  width: calc(100% + 17px);
  min-height: 290px;
  height: calc(100vh - 320px);
  background-color: #fbfcff;
  margin-bottom: 30px;
  padding: 30px 5px 5px 5px;
  overflow-y: scroll;
}

.message {
  position: relative;
  width: 100%;
}

.message br {
  clear: both;
}

.message .message-body {
  position: relative;
  width: auto;
  max-width: calc(100% - 150px);
  float: left;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dbe3e8;
  margin: 0 5px 20px 15px;
  color: #788288;
}

.message:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 63px;
  float: left;
  z-index: 100;
  border-top: 10px solid transparent;
  border-left: none;
  border-bottom: 10px solid transparent;
  border-right: 13px solid #fff;
}

.message:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 62px;
  float: left;
  z-index: 99;
  border-top: 11px solid transparent;
  border-left: none;
  border-bottom: 11px solid transparent;
  border-right: 13px solid #dbe3e8;
}

.message .medium-image {
  float: left;
  margin-left: 10px;
}

.message .message-info {
  width: 100%;
  height: 22px;
}

.message .message-info > h5 > i {
  font-size: 11px;
  font-weight: 500;
  margin: 0 5px 0 0px;
  color: #a2b8c5;
}

.message .message-info > h5 {
  color: #a2b8c5;
  margin: 8px 5px 0 0;
  font-size: 12px;
  float: right;
  padding-right: 10px;
}

.message .message-info > h4 {
  // Nombre
  font-size: 14px;
  font-weight: 600;
  margin: 7px 13px 0 -20px;
  padding-left: 30px !important;
  color: #65addd;
  float: left;
}

.message hr {
  margin: 4px 2%;
  width: 96%;
  opacity: 0.75;
}

.message .message-text {
  // Mensaje
  text-align: left;
  padding: 3px 13px 10px 13px;
  font-size: 17px;
  word-wrap: break-word;
}

.message.my-message .message-body {
  float: right;
  margin: 0 15px 20px 5px;
}

.message.my-message:after {
  content: "";
  position: absolute;
  top: 11px;
  left: auto;
  right: 63px;
  float: left;
  z-index: 100;
  border-top: 10px solid transparent;
  border-left: 13px solid #fff;
  border-bottom: 10px solid transparent;
  border-right: none;
}

.message.my-message:before {
  content: "";
  position: absolute;
  top: 10px;
  left: auto;
  right: 62px;
  float: left;
  z-index: 99;
  border-top: 11px solid transparent;
  border-left: 13px solid #dbe3e8;
  border-bottom: 11px solid transparent;
  border-right: none;
}

.message.my-message .medium-image {
  float: right;
  margin-left: 5px;
  margin-right: 10px;
}

.message.my-message .message-info > h5 {
  float: left;
  padding-left: 10px;
  padding-right: 0;
}

.message.my-message .message-info > h4 {
  float: right;
}

.message.info .message-body {
  background-color: #2da9e9;
  border: 1px solid #2da9e9;
  color: #fff;
}

.message.info:after,
.message.info:before {
  // Punta de globo de dialogo
  border-right: 13px solid #0275d8;
  z-index: 0;
}

.message.success .message-body {
  background-color: #0ec8a2;
  border: 1px solid #0ec8a2;
  color: #fff;
}

.message.success:after,
.message.success:before {
  border-right: 13px solid #0ec8a2;
}

.message.warning .message-body {
  background-color: #ff9e2a;
  border: 1px solid #ff9e2a;
  color: #fff;
}

.message.warning:after,
.message.warning:before {
  border-right: 13px solid #ff9e2a;
}

.message.danger .message-body {
  background-color: #f95858;
  border: 1px solid #f95858;
  color: #fff;
}

.message.danger:after,
.message.danger:before {
  border-right: 13px solid #f95858;
}

.message.dark .message-body {
  background-color: #314557;
  border: 1px solid #314557;
  color: #fff;
}

.message.dark:after,
.message.dark:before {
  border-right: 13px solid #314557;
}

.message.info .message-info > h4,
.message.success .message-info > h4,
.message.warning .message-info > h4,
.message.danger .message-info > h4,
.message.dark .message-info > h4 {
  color: #fff;
}

.message.info .message-info > h5,
.message.info .message-info > h5 > i,
.message.success .message-info > h5,
.message.success .message-info > h5 > i,
.message.warning .message-info > h5,
.message.warning .message-info > h5 > i,
.message.danger .message-info > h5,
.message.danger .message-info > h5 > i,
.message.dark .message-info > h5,
.message.dark .message-info > h5 > i {
  color: #fff;
  opacity: 0.9;
}

.chat-footer {
  border-top: 0.3px solid rgb(63, 63, 63);
  box-shadow: 2px 2px 20px 20px rgb(34, 36, 41);
  //margin-top: 0px;
  padding-top: 16px !important;
  position: relative;
  width: 100%;
  padding: 0 80px;
}

.chat-footer .send-message-text {
  // Textarea
  position: relative;
  display: block;
  width: 100%;
  min-height: 55px;
  max-height: 75px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 95px 5px 10px;
  font-size: 17px;
  resize: vertical;
  outline: none;
  border: 1px solid #e0e6eb;
}

.chat-footer .send-message-button {
  margin-top: 25px !important;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 100px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline: none;
  font-weight: 600;
  border-radius: 50%;
  padding: 0;
}

.chat-footer .send-message-button > i {
  font-weight: 16px;
  margin: 0 0 0 -2px;
}

@media screen and (max-width: 767px) {

  .messages-panel {
    min-width: 0;
    display: inline-block;
  }

  .contacts-list,
  .contacts-outter-wrapper,
  .contacts-outter,
  .contacts {
    width: 100%;
    direction: ltr;
    padding-left: 0;
  }
  
  .message-body {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #dce2e9;
    background-color: #fff;
  }

  .message .message-body {
    max-width: calc(100% - 85px);
  }

  .message-body .chat-body {
    background-color: #fff;
    width: 100%;
  }

  .chat-footer {
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .chat-footer .send-message-button {
    right: 40px;
  }
  
  .footer {
    display: none;
  }
}

@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  .contacts-outter-wrapper {
    direction: ltr;
  }

  .contacts-outter {
    direction: ltr;
    padding-left: 0;
  }
}

.contacts li > .info-combo {
  display: inline-block;
}
